{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="admin">
        <div class="new-project">
        {{ form_start(form) }}
            {{ form_widget(form) }}
             <button type="submit" class="btn mt-5">Ajouter ce projet</button>
        {{ form_end(form) }}
        </div>
        <div class="new-poster">
            {{ form_start(form_poster) }}
            {{ form_widget(form_poster) }}
            <button type="submit" class="btn mt-5">Ajouter cette photo</button>
            {{ form_end(form_poster) }}
        </div>
        <div class="new-language">
            {{ form_start(form_language) }}
            {{ form_widget(form_language) }}
            <button type="submit" class="btn mt-5">Ajouter un language</button>
            {{ form_end(form_language) }}
        </div>
    </div>

{% endblock %}
