{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1 class="title-admin">Espace admin</h1>
    <div class="admin">

        <div class="new-project">
            <h2>Ajouter un projet</h2>
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
             <button type="submit" class="btn mt-5">Ajouter ce projet</button>
        {{ form_end(form) }}
        </div>

        <div class="new-language">
            <h2 class="language">Ajouter un language</h2>
            {% form_theme form_language 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form_language) }}
            {{ form_widget(form_language) }}
            <button type="submit" class="btn mt-5">Ajouter ce language</button>
            {{ form_end(form_language) }}
        </div>
    </div>

{% endblock %}
