<nav class="component-nav">
    <ul class="nav justify-content-sm-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('project_index') }}">Projets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Parcours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a class="nav-link" href="{{ path('admin_index') }}">Admin</a>
        </li>
        {% endif %}
        {% if app.user %}
            <li>
            <a class="nav-link" href="/logout">Logout</a>
            </li>
        {% else %}
            <li>
            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
        {% endif %}

    </ul>
</nav>


